@page
@model IndexModel
@{
    ViewData["Title"] = "Shirt Ordering Application";
}

<div class="text-center">
    <h1 class="display-4">Shirt Ordering Application</h1>
    <legend>Process an order</legend>
    <form method="post" action="processOrder.cshtml">
        <fieldset>
            <!--Name-->
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" required><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" required><br><br>

            <!--address-->
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" required><br>

            <!--phone-->
            <label for="phone">Phone:</label><br>
            <input type="text" id="phone" name="phone" required><br><br>
            
            <!--color-->
            <p></p>
            <label for="color">Color:</label><br>
            <select name="color" id="color" required>
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
                <option value="Yellow">Yellow</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Indigo">Indigo</option>
                <option value="Violet">Violet</option>
            </select>
            <p></p>

            <!--size-->
            <label for="Size">Size:</label><br>
            <input type="text" id="size" name="size" required><br><br>

            <!--quantity-->
            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" required><br><br>

            <!--Notes-->
            <label for="notes">Notes:</label><br>

            <textarea id="notes" name="notes" rows="4" cols="50">
            </textarea>

            <br><br>

            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>